target/

.settings
.project
.classpath

.idea
*.iml

.metals
.bloop

project

bin/
db/
.eclipse
lib/
modules/
project/project
project/target
tmp/
test-result
server.pid
*.eml
dist/
.cache
/logs/application.log
/.idea/
/.bsp
coverage

Greeter*.java

